<!DOCTYPE html>
<html lang="ko" xmls:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<!-- 메타포 -->
		<meta name="title" content="">
		<meta name="subject" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- 파비콘 -->
        
        <!-- 오픈 그래프 -->
        
        <!-- 폰트 -->
               
        <!-- 크로스브라우징을 위한 인터넷익스플로러 커버링 -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <!-- 기본 플러그인 연결 : Foundation -->
        <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <!-- 사용자 정의 css 템플릿 -->
        <title>MyShop</title>        
	</head>
</th:block>
</html>